.DS_Store

VR Public Speaking Project/Assets/Models/Assembly_Hall/

VR Public Speaking Project/Assets/uploads-files-5820752-M_Raum.obj

VR Public Speaking Project/Assets/uploads-files-5820752-M_Raum.obj.meta

VR Public Speaking Project/Assets/uploads-files-848786-Buildings(1).obj

VR Public Speaking Project/Assets/uploads-files-848786-Buildings(1).obj.meta

VR Public Speaking Project/Assets/Super Hub Office Vol 17/uploads-files-2981575-Format3.obj

VR Public Speaking Project/Assets/Super Hub Office Vol 17/uploads-files-2981575-Format3.obj.meta

Web Companion Server/node_modules/